{% extends "base.html" %}

{% block title %}Клиенты{% endblock %}
{% include "dashboard/header.html" %}

{% block content %}
    <div class="container">
        <p>
            <b>Всего клиентов: 3</b>
        </p>
        <form action="/clients/search" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Имя пользователя или название заказа"
                       aria-describedby="search-button" tabindex="1" name="search_input" disabled>
                <button class="btn btn-primary" type="button" id="search-button" tabindex="2" disabled>Найти</button>
            </div>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Ник</th>
                <th scope="col">Ссылки</th>
                <th scope="col">Кол-во заказов</th>
                <th scope="col">Заметки</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"><a href="#">2</a></th>
                <td>Mark</td>
                <td><a href="#">tt</a></td>
                <td>2</td>
                <td>
                    Крутой чувак, можно работать
                </td>
            </tr>
            <tr>
                <th scope="row"><a href="#">3</a></th>
                <td>Andrey</td>
                <td><a href="#">tt</a></td>
                <td>1</td>
                <td>
                    Работать можно, докапывается до мелочей. Можно завышать цену
                </td>
            </tr>
            <tr>
                <th scope="row"><a href="#">4</a></th>
                <td>Anton</td>
                <td><a href="#">tt</a></td>
                <td>0</td>
                <td>
                    Ваще хз кто он
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
