<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand col-md-1" href="{{ url_for('main') }}">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-3 mb-lg-0 row-cols-3">
                <li class="nav-item">
                    <a class="nav-link {% if request.url == url_for('main') %}active{% endif %}"
                       aria-current="page" href="{{ url_for('main') }}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.url == url_for('orders') %}active{% endif %}"
                       href="{{ url_for('orders') }}">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.url == url_for('clients') %}active{% endif %}"
                       href="{{ url_for('clients') }}">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  {% if request.url == url_for('parsers') %}active{% endif %}"
                       href="{{ url_for('parsers') }}">Парсеры</a>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center">
            <div class="dropdown">
                <a class="dropdown-toggle d-flex align-items-center hidden-arrows" href="#"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ url_for('static', path='images/avatar.png') }}" class="rounded-circle" height="25">
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>